.contenedor-inicio {
    display: flex;
    gap: -10px;
    flex-wrap: wrap;
    
  }
  .card {
    margin-left: 30px;
    margin-right: 50px;
    --background: linear-gradient(to bottom,#d5c6e1, #ffffff);
  }
  
  .inicioContenedor {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .fotoRegistro {
    width: 600px;
    height: 650px;
    margin-left: 1px;
    margin-right: -10px;
    border-radius: 15px;
    object-fit: cover;
  }
  
  ion-card {
    flex: 1;
    margin: 20px;
  }
  
  .botonIniciar {
    margin-top: 60px;
  }
  
  .registro {
    margin-top: 20px;
  }

    .correo{
        padding-bottom: 10px;
    }

    .password {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .inputCorreo {
        --color: #000;
        --placeholder-color: #aaa;
        --padding-start: 10px;
        font-size: 16px;
        border-radius: 5px;
    }

    ion-toolbar {
      --background: #b485f0;
      --color: white;
      font-family: 'Open Sans', sans-serif;
    }
    
    ion-content {
      --background: linear-gradient(to bottom,#c998f4, #ffffff);
    }
    
    ion-item {
      --background: linear-gradient(to top, #d5c6e1, #ded1eb);
    }
    