<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="irHome()">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedor-inicio">
    <!-- Imagen a un lado -->
    <div class="inicioContenedor">
      <img src="assets/images/contactos.gif" alt="Foto de inicio" class="fotoInicio" />
    </div>

    <!-- Card con formulario -->
    <ion-card class="card">
      <ion-card-header class="login">
        <ion-card-title>Bienvenido de nuevo</ion-card-title>
        <ion-card-subtitle>Por favor, ingresa tus datos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="login">
        <form (ngSubmit)="onLogin()">
          <ion-item>
            <div class="correo" style="color: rgb(52, 51, 52); font-weight: bold;">
              <ion-label position="floating">Correo electrónico</ion-label>
            </div>
            
              <ion-input style="color: rgb(52, 51, 52); font-weight: bold;"
              type="email"
              [(ngModel)]="email"
              name="email"
              
              required
              placeholder="Escribe tu correo" 
            ></ion-input>
            
            
          </ion-item>

          <ion-item style="color: rgb(52, 51, 52); font-weight: bold;">
            <div class="password" style="color: rgb(52, 51, 52); font-weight: bold;">
              <ion-label position="floating">Contraseña</ion-label>
            </div>
            <div class="inputPassword">
              <ion-input style="color: rgb(52, 51, 52); font-weight: bold;"
              type="password"
              [(ngModel)]="password"
              name="password"
              required
              placeholder="Escribe tu contraseña" 
            ></ion-input>
            </div>
            
          </ion-item>

          <ion-button style="background-color: #9d4edd; color: white;" expand="full" type="submit"  [disabled]="!email || !password" >
            Iniciar sesión
          </ion-button>
        </form>

        <div class="ion-text-center ion-margin-top">
          <p style="color: #343334; font-weight: bold;">¿No tienes cuenta?</p>
          <ion-button fill="clear" (click)="irRegistro()" style="color: rgb(52, 51, 52); font-weight: bold;">Regístrate aquí</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

