<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (contacto of contactos; track $index) {
      <ion-item>
        <ion-label>Nombre: {{contacto.nombre}}
          <p>Telefono: {{contacto.telefono}}</p>
          <p>correo: {{contacto.correo}}</p>
          <p>direccion: {{contacto.direccion}}</p>
        </ion-label>
       
      </ion-item>
    }
  </ion-list>
</ion-content>
