<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Mis Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let contacto of contactos; let i = index" [attr.data-index]="i">
      <ion-label style="color: #343334; font-weight: bold;">
        Nombre: {{contacto.nombre}}
        <p style="color: #343334; font-weight: bold;">Telefono: {{contacto.telefono}}</p>
        <p style="color: #343334; font-weight: bold;">Correo: {{contacto.correo}}</p>
        <p style="color: #343334; font-weight: bold;">Direccion: {{contacto.direccion}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editar(contacto)">
          <ion-icon slot="icon-only" name="create" color="primary"></ion-icon>
        </ion-button>
        <ion-button (click)="borrar(contacto)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
