<ion-header>
  <ion-toolbar>
    <ion-title>Editar Contacto</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-item>
    <ion-label style="color: #343334; font-weight: bold;">Nombre: </ion-label>
    <ion-input [(ngModel)]="contacto.nombre" style="color: #343334; font-weight: bold;"></ion-input>
  </ion-item>
  <ion-item style="color: #343334; font-weight: bold;">
    <ion-label style="color: #343334; font-weight: bold;">Teléfono: </ion-label>
    <ion-input [(ngModel)]="contacto.telefono" style="color: #343334; font-weight: bold;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: #343334; font-weight: bold;">Correo: </ion-label>
    <ion-input [(ngModel)]="contacto.correo" style="color: #343334; font-weight: bold;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: #343334; font-weight: bold;">Dirección: </ion-label>
    <ion-input [(ngModel)]="contacto.direccion" style="color: #343334; font-weight: bold;"></ion-input>
  </ion-item>
 
  <ion-button expand="block" color="secondary" (click)="guardarCambios()">
    Guardar Cambios
  </ion-button> 
  <ion-button expand="block" color="danger" (click)="dismiss()">
    Cancelar
  </ion-button>
  <div *ngIf="cargando" style="text-align: center;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-content>
