@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400&display=swap');
 
  ion-toolbar {
    --background: #b485f0;
    --color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .foto {
    width: 300px;
    height: 350px;
    margin-top: 250px;
    border-radius: 15px;
    object-fit: cover;
    float: right;
    margin-right: 70px;
  }
  
  ion-content {
    --background: linear-gradient(to bottom,#dac0f1, #240046);
  }

  .fotoPersona{
    float: left;
    margin-left: 750px;
    width: 270px;
    height: 270px;
    margin-top: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .texto {
    clear: both;
    position: relative;
    top: -400px;
    text-align: left;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    margin: 20px;
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 40px;
    margin: 1px;
  }

 