<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToLogin()">Iniciar sesión</ion-button>
      <ion-button fill="clear" (click)="goToRegister()">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <div class="welcome-container">
    <div class="welcome-message">
      <h1>¡Bienvenido a nuestra aplicación!</h1>
      <p>Comienza a gestionar tus contactos de forma fácil y rápida.</p>
    </div>
    
  </div>
   
  
</ion-content>
