<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="irLogin()">Iniciar sesión</ion-button>
      <ion-button fill="clear" (click)="irRegistro()">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
    <div class="fotoContenedor">
      <div>
        <img src="assets/images/cell.gif" alt="Foto de inicio" class="foto"/>
      </div>
      <div>
        <img src="assets/images/personicon.gif" alt="Foto de inicio" class="fotoPersona"/>
      </div>
    </div>
  
    <div class="texto">
      <h1>¡Bienvenido a HelloContact!</h1>
      <p>Tu herramienta esencial para gestionar contactos de manera rápida y eficiente.</p>
      <p>Mantén tus relaciones organizadas y nunca pierdas una conexión.</p>
    </div>  
</ion-content>
